/* Asegura que el contenedor tenga espacio entre el buscador y el botón */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.3rem;
  }
  
  /* Estilo del input para hacerlo más ancho */
  .search-input {
    height: 2.5rem;
    width: 200px;
  }

  .custom-inputgroup {
    height: 2.5rem;
    width: 250px;
  }
  
  /* Estilo del botón para hacerlo más ancho */
  .create-btn {
    height: 2.5rem;
    width: 200px; 
    margin-left: 1rem; 
  }
  
  /* Título de la sección */
.section-title {
  font-size: 2.3rem;
  font-weight: bold;
   margin: 0 0 1rem 0; /* Elimina margen superior heredado */
  padding-top: 0.5rem; /* Espacio controlado */
  margin-bottom: 1.5rem;
  text-align: left;
  color: #606060;
}

.custom-edit-btn {
  color: #07bc0c !important; /* Rosa brillante */
}

.custom-edit-btn:hover {
  color: #0f8339 !important;
  background-color: rgba(255, 0, 255, 0.04) !important;
}

.custom-delete-btn {
  color: #ff5b5b !important; /* Rosa brillante */
}

.custom-delete-btn:hover {
  color: #da2a2a !important;
  background-color: rgba(255, 0, 255, 0.04) !important;
}

/* Estilo para la tabla, reducir el tamaño general */
.p-datatable {
  font-size: 0.85rem; /* Reducir el tamaño de la fuente */
}

/* Reducir el tamaño de las celdas */
.p-datatable .p-column-body {
  padding: 0.5rem; /* Reducir el padding dentro de las celdas */
}

/* Reducir el alto de las filas */
.p-datatable .p-datatable-tbody > tr > td {
  height: 2.5rem; /* Reducir la altura de las filas */
}

/* Estilo para los botones dentro de la tabla */
.p-button-sm {
    padding: 0.4rem 0.6rem; /* Reducir el tamaño del padding */
}

